.nav-parent{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(8, 156, 156);
    padding: 0px 30px;
}

.nav-links a{
    text-decoration: none;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 900;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
}
.active {
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

@media only screen and (max-width: 769px) {
    .nav-parent{
        height: auto;
        flex-direction: column; 
    }
    .nav-links{
        margin: 20px 0px;
    }
    .nav-parent img{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 426px) {
    .nav-parent{
        height: auto;
        flex-direction: column;   
    }
    .nav-links{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .nav-parent img{
        margin-top: 20px;
    }

    .nav-links a{
        width: 200px;
        margin-bottom: 10px;
        padding: 10px 10px;
        text-align: center;
        border-radius: 10px;
        font-weight: 900;
        border: 1px solid black;
        
    }
}

